{% extends 'base.html' %} 
{% load static %}

{% block title %}Lugares-The forest Wiki{% endblock%} 

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/lugares.css' %}" />
{% endblock %}

{% block content %}
<div id="fondo1">
    <!-- Pueblos-->

    <center>
      <h1 id="titulo1">Pueblos</h1>
    </center>

    <section class="color2 letra">
      <section class="cajacard">
        <div class="w-33">
          <div class="center">
            <button class="btn btn-dark">Editar</button>
          </div>
        </div>
        <div class="container">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for pueblo in pueblos %}
            <div class="col">
              <div
                class="card h-100"
                style="background-color: rgba(0, 0, 0, 0.541)"
              >
                <img
                  src="{% static pueblo.imagen %}"
                  class="card-img-top"
                  alt="{{ pueblo.nombre }}"
                />
                <div class="card-body">
                  <h5 class="card-title">{{ pueblo.nombre }}</h5>
                  <p class="card-text">{{ pueblo.descripcion }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <!-- Ubicaciones especificas-->
        <br />
        <br />
        <br />
        <br />
        <center>
          <h1 id="titulo1">Ubicaciones especificas</h1>
        </center>
        <br />
        <br />

        <div class="container">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for ubicacion in ubicaciones_especificas %}
            <div class="col">
              <div
                class="card h-100"
                style="background-color: rgba(0, 0, 0, 0.541)"
              >
                <img
                  src="{% static ubicacion.imagen %}"
                  class="card-img-top"
                  alt="{{ ubicacion.nombre }}"
                />
                <div class="card-body">
                  <h5 class="card-title">{{ ubicacion.nombre }}</h5>
                  <p class="card-text">{{ ubicacion.descripcion }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>

        <!--Ubicaciones Variadas-->
        <br />
        <br />
        <br />
        <br />
        <center>
          <h1 id="titulo1">Ubicaciones Variadas</h1>
        </center>
        <br />
        <br />

        <div class="container">
          <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for ubicacion in ubicaciones_variadas %}
            <div class="col">
              <div
                class="card h-100"
                style="background-color: rgba(0, 0, 0, 0.541)"
              >
                <img
                  src="{% static ubicacion.imagen %}"
                  class="card-img-top"
                  alt="{{ ubicacion.nombre }}"
                />
                <div class="card-body">
                  <h5 class="card-title">{{ ubicacion.nombre }}</h5>
                  <p class="card-text">{{ ubicacion.descripcion }}</p>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <br />
      </section>
    </section>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
</div>
{% endblock %}
